@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-post-red: #D41217;
  --color-post-yellow: #FFD700;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}


